.header {
    margin-top:.5em;
    display:flex;
    border-bottom:2px solid #a1a1a1;
    padding-left:1.5rem;
    padding-right:1.5rem;
    .search-bar {
        margin-left:auto;
        margin-right:1.5rem;
        margin-top:auto;
    }
    a {
        color: black;
        text-decoration: none;
        :hover {
            opacity:0.5;
        }
    }
}