.details-wrapper {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-left:auto;
    margin-right:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    background-color:#efefef;
    padding:1em;
}

.poster{
    margin-left:auto;
    margin-right:auto;
    img {
        max-height: 20rem;
    }
}

.view-controls {
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    text-align:end;
    :hover {
        opacity:0.5;
    }
}

.rating {
    float:right;
}

.row {
    margin-left:auto;
    margin-right:auto;
}