<div class="container">
    <div  *ngIf="openDetailsView" class="row movie-details-view">
        <app-movie-details></app-movie-details>
    </div>
    <div *ngFor="let g of genres" class="row">
        <div class="wrapper" id={{g}}>
            <h2>{{g}}</h2>
            <div class="genre-film-scrollbox">
                <div *ngFor="let m of filterByGenre(g); let i = index;" class="card" [routerLink]="['/dashboard/']" [queryParams]="searchQuery!=null ? {q:[searchQuery], id:[m.id]} : {id:[m.id]}">
                    <img src={{m.backdrop}} class="movie-backdrop">
                </div>
            </div>
        </div>
    </div>
</div>
